<!DOCTYPE html>
<html>
<head>
    <title>Vote / Nominate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>Ecommerce Team Player Award Voting and Nomination System</h1>
<p>Nominations and votes will take place Monday-Friday. Winners will be announced at 6pm EST weekdays.</p>

<% if (locals.message !== undefined && locals.message.length > 0) { %>
<p><em><%= message %></em></p>
<% } %>

<h2>Today's Nominations</h2>
<% if (locals.today !== undefined && locals.today.length > 0) { %>

    <% today.forEach(function(result) { %>
<form action="/vote" method="post"><label>Name: <%= result.nominee %> Votes: <%= result.votes %></label> <input type="hidden" name="uid" value="<%= result._id %>" /><input type="submit" value="Vote!" /></form>
    <% }); %>

<% } else { %>
<p><em>No nominations yet today. Please nominate a colleague below!</em></p>
<% } %>


<h2>Nominate</h2>


<form action="/nominate" method="post">
    <label>Nominate</label>
    <input type="text" name="name" placeholder="Please enter nominee" />
    <input type="submit" value="Nominate" />
</form>

<h2>Yesterday's results</h2>


</body>
</html>
